
.form-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    align-content: center;
    top: 0;
    /* right: 100%; */
    /* opacity: 0%; */
    z-index: -99;
    transition: 1s all ease;
}

.form-container {
    position: relative;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.close-icon  {
    position: absolute;
    font-size: 2vw;
    top: 10vh;
    right: 60px;
    z-index: 999;
}

.close-icon:hover {
    animation: closeAnimation .5s  infinite ;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

@keyframes closeAnimation {
    0% {
        font-size: 40px;
    }
    100% {
        rotate:10px;
    }
}

.signUp, .login {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    margin: auto;
    background: linear-gradient(to top, rgb(0, 0, 133), rgb(0, 0, 57));
    transition: .5s all ease-out;
    border-radius: 15px;
    align-content: center;

    & h1 {
        font-size: 2vw;
        text-align: center;
        padding: 2vh;
    }

    & div {
        position: relative;
        display: flex;
        align-items: center;

        & h3 {
            position: absolute;
            right: 10px;
            font-size: 15px;
            cursor: pointer;
        }
    }

    & input {
        width: 100%;
        font-size: 16px;
        padding: 5px 15px;
        margin-top: 1vh;
        margin-bottom: .5vh;
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        color: white;
    }

    & input:focus {
        outline: none;
        padding: 10px 15px;
        transition: .3s all ease;
    }

    & input::placeholder {
        color: white;
    }

    & small {
        display: block;
        color: red;
    }

    & button {
        width: 100%;
        height: 35px;
        font-size: 16px;
        margin: 30px auto;
        border-radius: 5px;
        cursor: pointer;

        & i {
            color: rgb(0, 222, 0);
        }
    }

    & p {
        text-align: center;
    }

}

.login-text, .signUp-text {
    text-decoration: underline;
    cursor: pointer;
}

.login {
    align-content: center;
}

.signUp {
    position: absolute;
}